*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Kalam', cursive;
}

html,body{
    height: 100%;
}

/* ******Framework******* */

section.container{
    width: 100%;
}

.center{
    max-width: 1900px;
    margin: 0 auto;
}

.orange{
    background-color: #eb9526;
}

/* *******Estilo Própio********* */

header{
    padding: 0 2%;
    height: 180px;
}

.logo-message{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.logo-message img{
    width: 15em;
    height: 11em;
    transition: 0.5s;
    
}

.logo-message img:hover{
    transform: rotateY(15deg);
}

.logo-message i{
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.logo-message i:hover{
    color: red;
}

.logo-message h2{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Kalam', cursive;
}

.logo-message form{
    background-color: grey;
    border-radius: 25px;
    position: relative;
}

.logo-message form input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding: 8px 10px 8px 10px;
}

.logo-message button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
    
}

.logo-message button i{
    color: black;
}

.logo-message button i:hover{
    color:#eb9526;
}

section.w100{
    width: 100%;
    height: 1000px;
    background-image: url('/img/batata2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-boxone{
    width: 30%;
    height: 80%;
    margin-left: 70px;
    background-color:burlywood;
    border-radius: 10px;
}

.container-boxtwo{
    width: 50%;
    height: 70%;
    margin-left: 70px;
    border-radius: 18px;
    background-color: beige;
}

.box-one{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.box-one form input{
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 17px;
    text-align: center;
}

.box-two{
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
   
}

.box-two input[type=image]{
    width: 15em;
    height: 12em;
    margin-top: 40px;
    margin-left: 70%;
    transition: 700ms;
    opacity: 1;
    
           
}

.box-two input[type=image]:hover{
    transform: rotate(2deg);
    opacity: 0.9;
}


.hamburguer-button{
    display: flex;
    justify-content: center;
    position: relative;
    left: 320px;
    background-color: gray;
}

.hamburguer-button input[type=text]{
    width: 300px;
    height: 30px;
    background-color: orange;
}

input.input-text{
    width:220px;
    height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    
}

input[type=submit]{
    width: 80px;
    height: 45px;
    margin-top: 27px;
    font-weight: 600;
    background-color: red;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover{
   color: orange;
}

@media screen and (max-width:1726px){
    .container-boxtwo{
        width: 60%;
        height: 70%;
       
    }
    .box-two input[type=image]{
        margin-left: 60%;
        
    }
}

@media screen and (max-width:1418px){
    .container-boxtwo{
        width: 60%;
        height: 70%;
        margin-right: 20px;
       
    }
    .box-two input[type=image]{
        margin-left: 40%;
        
    }
}